RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

RewriteRule ^crowdfunding.html$ /funding.html [R=301,L]

RewriteRule ^Projects/2019/Decentralized-privacy-preserving-search-by-mathematical-design.html$ /Projects/2019/Combsee.html [R=301,L]
