    {% extends "base.html" %}

    {% block title %}Authors &ndash; {{ SITENAME }}{% endblock %}

    {% block content %}

    <br><br>

    <div class="w3-white w3-container col-main">
      <h1>Authors</h1>

      <br>

      {%- for author, articles in authors|sort %}
      {% if author==AUTHOR %}
      <div id="{{ author.page_name[7:] }}" class="w3-white w3-border w3-border-black" style="padding: 24px;">
        <div style="display: flex; align-items: center;">
          <img style="width: 120px; height: 120px;" src="{{ AUTHOR_AVATAR }}" onerror="this.src='theme/images/avatar.png'">
          <span class="w3-hover-text-dark-grey" style="font-size: 16pt; font-weight: bold; margin-left: 20px;">{{ author }}</span>
        </div>

        <p style="font-size: 12pt; font-style: italic; margin-top: 36px;">{{ AUTHOR_DESCRIPTION }}</p>

        <div style="display: flex; flex-wrap: wrap;">
          <ul class="social" style="flex-grow: 1; padding: 0px;  margin-top: 12px; margin-bottom: 0px;">
            {% for title, typea, typef, name, link, info in SOCIAL %}
            <li style="color: #2196F3; font-size: 18pt;"><a class="sc-{{ name }}" href="{{ link
            }}" title="{{ title }}" target="_blank"><i class="{{ typea }} {{ typef }}-{{ name }}"></i></a></li>
            {% endfor %}
          </ul>
          <a class="w3-btn w3-right" style="color: #2196F3; margin-top: 12px;" href="{{ SITEURL }}/{{ author.url }}">All articles &#10093;</a>
        </div>
      </div>

      <br><br><br>

      {% endif %}
      {% endfor %}

      {% if authors|count > 1 %}
      <h2>Other authors</h2>
      <br>

      {%- for author, articles in authors|sort %}
      {% if author!=AUTHOR %}
      <div id="{{ author.page_name[7:] }}" class="w3-white w3-border w3-border-black" style="padding: 24px;">
        <div style="display: flex; align-items: center;">
          <img style="width: 120px; height: 120px;" src="{{ AUTHOR_AVATAR }}" onerror="this.src='theme/images/avatar.png'">
          <span class="w3-hover-text-dark-grey" style="font-size: 16pt; font-weight: bold; margin-left: 20px;">{{ author }}</span>
        </div>

        <p style="font-size: 12pt; font-style: italic; margin-top: 36px;">{{ AUTHOR_DESCRIPTION }}</p>

        <div style="display: flex; flex-wrap: wrap;">
          <ul class="social" style="flex-grow: 1; padding: 0px;  margin-top: 12px; margin-bottom: 0px;">
            {% for title, typea, typef, name, link, info in SOCIAL %}
            <li style="color: #2196F3; font-size: 18pt;"><a class="sc-{{ name }}" href="{{ link }}" title="{{ title }}" target="_blank"><i class="{{ typea }} {{ typef }}-{{ name }}"></i></a></li>
            {% endfor %}
          </ul>
          <a class="w3-btn w3-blue w3-right" style="color: #2196F3; margin-top: 12px;" href="{{ SITEURL }}/{{ author.url }}">All articles &#10093;</a>
        </div>
      </div>

      <br><br><br>
    
      {% endif %}
      {% endfor %}
      {% endif %}

    </div>

    {% endblock content %}
