    {% extends "base.html" %}

    {% block content_title %}
    {% if articles_page.number == 1 %}
    {% include 'introduction.html' %}
    {% endif %}
    {% endblock %}

    {% block content %}

    <br><br><br>

    <section id="listing">

      {% if articles_page.number == 1 %}
	<!-- TODO
        <article class="w3-container w3-card-2 w3-white col-main">
          <hr>
          <div class="two-columns-pages" style="margin-left: 2%; margin-right: 2%;">
	        <div class="col01-pages30">
                <center>
                  <img class="index-image" src='/images/zoebelein_avatar.png'><br />
                  <p>
                    <i>Carolin Zöbelein</i><br />
                    <font style="font-size: 13px"><i>Independent mathematical scientist</i></font>
                  </p>
                </center>
            </div>
	    <font style="color: red;">This site is under construction. The content is incomplete. It will be added, step by step, in the next months.</font>
            <div class="col02-pages70" style="font-size: 15px">
              Hi,<br />
		          <br />
		          my name is Carolin and I'm an independent mathematical scientist. I work as freelancer on topics around it-security, decentralized networks, online privacy & anonymity and censorship circumvention with mathematical (Cryptography, Algebra, Number Theory) focus.<br />
		          <br />
		          I publish all my work under free licenses (as long it is not limited by third parties). I believe in open knowledge and that the results of research and its access has to be possible and free, without any fees, for everybody.<br />
		          <br />
		          I would be happy to get your support, to protect our right for private communication, open knowledge and online security.             
            </div>
          </div>   
        <hr>
        </article>
	-->

	<article class="w3-container w3-card-2 w3-white col-main">
		{% if UPCOMING %}
		<b style="font-size: 25px;">Upcoming</b>
		<p>
			{{ UPCOMING }}
		</p>
		{% endif %}

		<hr />
		<b style="font-size: 25px;">Ongoing...</b>

		{% if TALKS %}
		<p>
		<b>Talks</b><br />
			{{ TALKS }}
		</p>
		{% endif %}

		{% if MEETUPS %}
		<p>
		<b>Meetups</b><br />
			{{ MEETUPS }}
		</p>
		{% endif %}

		{% if WEBINARS %}
		<p>
		<b>Webinars</b><br />
			{{ WEBINARS }}
		</p>
		{% endif %}

		{% if PROJECTS %}
		<p>
		<b>Projects</b><br />
			{{ PROJECTS }}
		<p>
		{% endif %}

		{% if FUNDINGS %}
		<p>
		<b>Fundings</b><br />
			{{ FUNDINGS }}
		</p>
		{% endif %}

		{% if CROWDFUNDING_CAMPAIGNS %}
		<p>
		<b>Crowdfunding Campaigns</b><br />
			{{ CROWDFUNDING_CAMPAIGNS }}
		</p>
		{% endif %}
		
		{% if SCHEDULE %}
		<p>
		<b>Schedule</b><br />
			{{ SCHEDULE }}
		</p>
		{% endif %}

	</article>

      {% endif %}

      <br>

      <article class="w3-white col-main-entries">
        <header style="margin-left: 1.5%;">
            <h1>New</h1>
        </header>

        <br>

				{% set length = [0] %}
				{% for article in articles_page.object_list %}
					{% if ((article.sub_kind != "Notes") and (article.sub_kind != "Worksheets")) %}		
						{% if length.append(length.pop() + 1) %}{% endif %}
					{% endif %}
				{% endfor %}
				

					{% set counter = [0] %}
        			{% for article in articles_page.object_list %}
						{% if ((article.sub_kind != "Notes") and (article.sub_kind != "Worksheets")) %}			
							{% if counter.append(counter.pop() + 1) %}{% endif %}
							{% if counter[0] <= INDEX_PAGINATION %}
								{% if counter[0] % 3 == 1 %}
								  <div class="three-columns">

									<div class="w3-container w3-card-2 three-col01">
								{% elif counter[0] % 3 == 2 %}
									<div class="w3-container w3-card-2 three-col02">
								{% elif counter[0] % 3 == 0 %}
									<div class="w3-container w3-card-2 three-col03">
								{% endif %}                
									  
									  <center style="margin-top: 10%;">
										<img style="border:0.5px solid #e0e0e0;" width="90%" src="{{ article.index_image }}">   
									  </center>

									  <header class="article-index-title">    <!-- desktop version: font-size: <h2> -->
										<b>{{ article.index_title }}</b>
									  </header>
								
									  <div style="margin-left: 5%; margin-right: 5%; color: #0000cd;">
										{{ article.kind }}
									  </div>

									  <div style="margin-left: 5%; margin-right: 5%;">
										{{ article.index_summary }}
									  </div>

									  <div style="margin-left: 5%; margin-right: 5%; color: #2196F3; font-size: 12px;">
										<a href="{{ SITEURL }}/{{ article.url }}">READ MORE <i class="fas fa-angle-double-right"></i></a>
									  </div>
								
									  <br><br>

									</div>          

								{% if length[0] % 3 == 0 %}
								  {% if counter[0] % 3 == 0 %}
								  </div>
								  {% endif %}
								{% else %}
								  {% if counter[0] % 3 == 0 %}
								  </div>
								  {% endif %}

								  {% if counter[0] == length[0] %}
								  </div>
								  {% endif %}
								{% endif %}
							{% endif %}
						{% endif %}
      				{% endfor %}
       </article>

      <br>

      {% if articles_page.has_other_pages() %}
      {% include 'pagination.html' %}
      <br><br><br>
      {% endif %}

    </section>

    {% endblock content %}
