    <div class="w3-row w3-light-grey w3-border-bottom"
	style="background: url( {{ INDEX_INTRO_IMAGE }} ); background-position: center; height: 425px;">
      <aside id="intro" class="w3-container w3-right w3-padding-32">
        <div>
          <span id="intro-description">{{ AUTHOR_INTRO }}</span>
          {% if SOCIAL %}
          <ul class="social" style="margin: 0; margin-top: 0px; margin-left: 0px; padding: 0; background-color: rgba(255, 255, 255, 0.85);">
            {% for title, typea, typef, name, link in SOCIAL %}
            <li><a class="sc-{{ name }}" href="{{ link }}" title="{{ title }}" target="_blank"><i class="{{ typea }} {{ typef }}-{{ name }}" style="color: black;"></i></a></li>
            {% if loop.index % SOCIAL_PAGINATION == 0 %}
            <br>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </div>

      </aside>

      <div class="w3-container w3-padding-128">
            <div class="index-intro" style="background-color: rgba(0, 0, 0, 0.85); color: white;">
            	<h2 style="padding-top: 3%;">{{ INDEX_INTRO_TITLE }}</h2>
	        <div style="padding-bottom: 3%;">{{ INDEX_INTRO_CONTENT }}</div>
            </div>
        </div>
    </div>
