    {% extends "base.html" %}

    {% block title %}{{ page.title }} &ndash; {{ SITENAME }}{% endblock %}

    {% block content %}

    {% if page.title == "Public" %}
    <!-- Public -->
        <br><br><br>
            <article class="w3-container-page w3-card-2 w3-white col-page">
    
                <br>

                <header class="w3-container-page-sub col-page-sub">
                    <h1>{{ page.title }}</h1>
                    <div class="post-info">
                        <div class="w3-opacity w3-margin-right w3-margin-bottom" style="flex-grow: 1;">
                            {% import 'translations.html' as translations with context %}
                            {{ translations.translations_for(page) }}
                        </div>
                    </div>
                </header>

                <div class="col-page-sub w3-container-page-sub">
                    <section id="content">
                        {{ page.content }}
                    </section>

                    <section id="content">
                    <h2 id="OnlinePresence">Online Presence</h2>
                    <div class="social">
                        {% if SOCIAL %}
                        {% for title, typea, typef, name, link in SOCIAL %}
                        <i class="{{ typea }} {{ typef }}-{{ name }}"></i>  <a class="sc-{{ name }}" href="{{ link }}" title="{{ title }}" target="_blank">{{ title }}</a>
                        {% if loop.index != loop.length %}
                         |
                        {% endif %}
                        {% endfor %}
                        {% endif %}                    
                    </div>
                    </section>
                    
                    <hr />

                    <section id="content">
	 	    <font style="color: red;">This site is under construction. The content is incomplete. It will be added, step by step, in the next months.</font>
                    <h2 id="Publications">Publications</h2>		    
                    <h3 id="Preprints">Preprints</h3>
                    <ul>
                    {% for article in articles %}
                        {% if article.kind == "Publication" %}
                            {% if article.sub_kind == "Preprint" %}
                                <li>
                                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                                <div class="little-information-line">
                                    {{ article.publication_author }}{% if article.publish_date %}, {{ article.publish_date }}{% endif %}{% if article.subject_class %}, Subject class: {{ article.subject_class }}{% endif %}{% if article.arxiv %}, arXiv:{{ article.arxiv }}{% endif %}{% if article.pdf %}, <a href="{{ article.pdf }}" title="External: {{ article.title }}" target="_blank">pdf</a>{% endif %}
                                </div>
                                </li>
                            {% endif %}   
                        {% endif %}
                    {% endfor %}
                    </ul>
                    </section>

                    <hr />

                    <section id="content">
                    <h2 id="Meetups">Meetups</h2>
                    <ul>
                    {% for article in articles %}
                        {% if article.categories == "Public" %}
                            {% if article.kind == "Meetup" %}                                 
    	                        <li>
                                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a><br />
                                <div class="little-information-line"><i>Date & Time:</i> {{ article.event_date }}, <i>Place:</i> {{ article.event_place }}</div>
                                </li>
                            {% endif %}   
                        {% endif %}
                    {% endfor %}
                    </ul>
                    </section>
                    
                    <br><br><br>
                    
                </div>
            
            </article>
        <br><br><br>

    <!-- Crowdfunding -->
    <!--
    {% elif page.title == "Crowdfunding" %}
        <br><br><br>
            <article class="w3-container-page w3-card-2 w3-white col-page">
    
                <br>

                <header class="w3-container-page-sub col-page-sub">
                    <h1>{{ page.title }}</h1>
                    <div class="post-info">
                        <div class="w3-opacity w3-margin-right w3-margin-bottom" style="flex-grow: 1;">
                            {% import 'translations.html' as translations with context %}
                            {{ translations.translations_for(page) }}
                        </div>
                    </div>
                </header>

                <div class="col-page-sub w3-container-page-sub">
                    <section id="content">
                        {{ page.content }}
                    </section>

                    <br><br><br>

                </div>

            </article>
        <br><br><br>
    -->
    {% else %}
    
        <br><br><br>
            <article class="w3-container-page w3-card-2 w3-white col-page">

                <br>

                <header class="w3-container-page-sub col-page-sub">
                    <h1>{{ page.title }}</h1>
                    <div class="post-info">
                        <div class="w3-opacity w3-margin-right w3-margin-bottom" style="flex-grow: 1;">
                        {% import 'translations.html' as translations with context %}
                        {{ translations.translations_for(page) }}
                        </div>
                    </div>
                </header>

                <div class="col-page-sub w3-container-page-sub">
                    <section id="content">
                    {{ page.content }}
                    </section>

                    <br><br><br>
        
                </div>
            </article>
        <br><br><br>

    {% endif %}

    {% endblock content %}
